.newPassContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topContent, .bottomContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toEnd {
    justify-content: flex-end;
}

.readOnlyContainer {
    display: flex;
}

input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 999px;
}

input:focus {
    background-color: #eaeaea;
    outline: none;
}

.closeButton {
    width: 10px;
    height: 10px;
    margin-left: 16px;
}

.submitButton, .closeButton {
    cursor: pointer;
    padding: 8px;
    display: flex;

    border: 1px solid black;
    border-radius: 8px;
    background-color: #2b6535;

    align-items: center;
    justify-content: center;

    transition: 0.1s;
    user-select: none;
}

.submitButton:hover, .closeButton {
    background-color: #1f4926;
}