.editor {
    width: 100%;
    height: 100%;
}

.editor.hide {
    display: none;
}

.editor .md {
    font-family: 'Fira Code'
}

@media only screen and (max-width: 800px) {
    .hideMobile {
        display: none;
    }
}